#c {
    margin: 10px;
    padding: 0;
}

#log {
    margin: 10px;
    padding: 0;
    border: 10 solid #ddd;
    width: 1000px;
    height: 150px;
    overflow: scroll;
    background: #ffc;
}

.message {
    border: 1 solid #0f0;
    width: 315px;
    margin: 4px;
    overflow: auto;
    float: left;
}